@import "./../../scss/main.module.scss";

.card_box {
  display: flex;
  margin: -1px 0 0 0;
  padding: 10px 15px 10px 15px ;
  gap: 10px;
  outline: none;
  border: none;
  border-left: 1px solid $line-color;
  border-right: 1px solid $line-color;
  background-color: $secondary-color;

  &:first-child {
    border-top: 1px solid $line-color;
  }

  @media (max-width: 540px ) {
  }
  @media (min-width: 540px){
    &:first-child {
      border-radius: $main-border-radius $main-border-radius 0 0;
      border-top: 1px solid $line-color;
    }
    &:last-child {
      border-radius: 0 0 $main-border-radius $main-border-radius;
      border-bottom: 1px solid $line-color;
    }
    &:only-child {
      border-radius: $main-border-radius;
    }
  }
  @media (min-width: 720px) and (max-width: 960px) {
  }
  @media (min-width: 1140px) {
  }
}

.card_content {
  width: 100%;
  display: flex;
  align-items: center;

  & .first_elements {
    display: flex;
    width: 20px;
    padding: 0 10px 0 0;
    flex-grow: 0;
  }
  & .second_elements {
    max-width: 210px;
    width: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-grow: 1;
  }
  & .third_elements {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  
    & .input_box {
      display: flex;
      align-items: center;
    }
    
    & .consumed {
      display: flex;
      font-size: 14px;
      margin-top: 8px;
      margin-left: auto;
      color: $text-second-accent-color;
    }
  }
  & .fourth_elements {
    display: flex;
    width: 35px;
    height: 60%;
  }
}

.service_name {
  font-size: 16px;
  font-weight: 500;
}

.text_under_input {
  margin: 0 0 0 5px;
  color: $text-accent-color;
  font-weight: 500;
}

.second_element_items {
  margin: 7px 0 0 0;
  color: $text-subtitle-color;
  font-size: 14px;
  font-weight: 400;
}


.cold_water {
  color: $icon-cold-water-color;
}

.warm_water {
  color: $icon-warm-water-color;
}

.electricity {
  color: $icon-electricity-color;
}

