@import "./../../scss/main.module.scss";

.counter_form {
  display: flex;
  flex-direction: column;
}

// .text_input {
//   width: 100px;
//   height: 30px;
//   border-radius: $main-border-radius;
//   border: 1px solid $text-subtitle-color;
//   background-color: $secondary-color;
//   text-align:center;
//   color: $text-accent-color;
//   font-size: 20px;
//   font-weight: 600;
//   &:focus {
//     outline: none;
//     border-color: $btn-active-text-color;
//   }

//   &.input_error {
//     border: 1px solid $text-error-color;
//   }
// }

.text_input {
  width: 100px;
  height: 30px;
  border: 1px solid transparent;
  //border-bottom: 1px solid $line-color;
  background-color: transparent;
  text-align: end;
  color: $text-accent-color;
  font-size: 20px;
  font-weight: 600;
  &:focus {
    outline: none;
    border-bottom: 1px solid $btn-active-text-color;
  }

  &.input_error {
    border-bottom: 1px solid $text-error-color;
  }
}

.error_message {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: red;
}