@import "./../../scss/main.module.scss";

.card_group {
    margin-bottom: 30px;
    &:last-child {
        margin: 340px;
    }
}

.space {
    margin-bottom: 250px;
}

.title {
    font-size: 21px;
    font-weight: 600;
}

.submit_form {
    display: flex;
    flex-direction: column;
}

// .submit_button {
//     position:sticky;
//    right: 0;
//    bottom: 0;
//     margin: 40px 15px 0 15px;
//     border-radius: $main-border-radius;
//     border: none;
//     height: 60px;
//     background-color: $btn-active-color;
//     color: $btn-active-text-color;
//     font-size: 18px;
// }
.submit_button {
    height: 60px;
    max-width: 510px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 5px;
    width: 90%;
    border-radius: $main-border-radius;
    border: none;
    background-color: $btn-active-color;
    color: $btn-active-text-color;
    font-size: 18px;
}

.postcard_button {
    z-index: 100000;
    height: 60px;
    max-width: 510px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 5px;
    width: 90%;
    border-radius: $main-border-radius;
    border: none;
    background-color: $btn-active-color;
    color: $btn-active-text-color;
    font-size: 18px;
}

.postcard_button_disable {
    display: none;
}

.submit_button_disable {
    background-color: $btn-disable-color;
    color: $btn-disable-text-color;
}
