.error_container {
  display: flex;
  justify-content: start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 100%;
  background-color: #f5253d;
}

.error_item {
  padding: 0 10px 0 0;
}