@import "./../../../scss/main.module.scss";

.prelodaer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;

  & img {
    height: 50%;
    width: 80%;
  }
}

.loader {
  width: 78px;
  height: 78px;
  border: 5px solid $text-accent-color;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: flex;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }


  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }