$primary-color: #191829;
$secondary-color: #2e2d42;

$text-color: #dddddd;
$text-error-color: #ce405c;
$text-unActive-color: #999999;
$text-subtitle-color: #858495;
$text-accent-color: #a69df5;
$text-second-accent-color: #5fde99;

$active-color: #E3A3B4;

$btn-active-color: #eceaff;
$btn-disable-color: #282445;
$btn-active-text-color: #3e3688;
$btn-disable-text-color: #575473;

$line-color: #3b3b52;
$main-border-radius: 4px;

$icon-cold-water-color: #4c9ef4;
$icon-warm-water-color: #db5b5f;
$icon-electricity-color: #ebb749;
