.counter_form {
  display: flex;
  flex-direction: column;
}

.text_input {
  width: 300px;
  height: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.error_message {
  font-size: 10px;
  padding: 0;
  margin: 0;
  color: red;
}